extends ./layout
block dependencies
    - css = [];
block content
    div.vertical-center
        div.container.boxed.border-success
            h1.h1 Thanks.
            p.lead We've recieved your application, and will get back to you shortly!