extends ./layout
block dependencies
    - css = ["public/form.css"];
    - js = ["public/form.js"];
block content
    div.vertical-center
        div.container(id="form-container").boxed.border-accent
            header.bg-white
                h1.h1.mb-3 
                    | Hello, #{user.username}
                    span.text-muted.small ##{user.discriminator}
            form(id="formRoot")
                p.intro #{leadText}
                hr
                span(id="dynamicRoot")
                button(type="submit", id="formSubmitButton").btn.btn-primary.btn-lg Submit