extends ./layout
block dependencies
    - css = [];
block content
    div.vertical-center
        div.container(id="container")
            header.bg-white
                h1.h1.mb-3 
                    | Hello, #{user.username}
                    span.text-muted.small ##{user.discriminator}
            form(id="formRoot")
                p.intro #{leadText}
                hr
                span(id="dynamicRoot")
                button(type="submit", id="formSubmitButton").btn.btn-primary.btn-lg Submit