extends ./layout
block dependencies
    - css = [];
block content
    div.vertical-center
        div.container.boxed.narrow-box.border-accent
            h1 Welcome
            p #{config.meta.splashIntroduction}
            h3 Requirements
            ul
                if config.auth.enforceGuildRequirment
                    li Be in our discord guild
                each requirement in config.meta.requirements
                    li= requirement
            p Think you meet the critera above? 
            a(href=config.auth.authURL).btn.btn-primary Log in with discord »