extends ./layout
block dependencies
    - css = [];
block content
    div.vertical-center
        div.container
            h1.h1 Please login to discord.
            a(href=config.auth.authURL) click here