extends ./layout
block dependencies
    - css = [];
block content
    div.vertical-center
        div.container.boxed.border-danger
            h1.h1 Unauthorized.
            p.lead Whoops! You can't do that. Please ensure you're in the discord guild with ID #{config.auth.requiredGuild}.