p {
    font-family: "SF Text";
}

h1 {
    font-weight: 600;
}

html, body {
  height: 100%;
}

body {
    font-family: "SF Display";
    background-color: #F1F5F8;
}

hr {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 1px;
    color: grey;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.intro {
    font-size: 15pt;
}

.boxed {
    padding: 16px;
    background-color: white;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); 
}

/* TODO: Add media queries, this looks shite on smaller screens */
.narrow-box {
    width: 450px;
}

.narrow-box h3 {
    font-size: 20px;
}

.border-success {
    border-top: 4px solid #28a745;  
}

.border-danger {
    border-top: 4px solid #dc3545;
}

.border-accent {
    border-top: 4px solid #007bff;
}